.benefits-heading.medium-12
  = benefit.title
  .clearfix
  - if benefit.link
    %a.benefit-link{href: benefit.link}= benefit.link_one_text
%ul.large-block-grid-2.small-block-grid-1
  - if benefit.sections.any?
    - @sections = benefit.sections
    = render @sections
.clearfix
