= content_tag_for(:li, benefit) do
  .inner
    .flip
      .card
        .face.front
          .inner
            .reward-title= benefit.title
        .face.back
          .inner
            .reward-title= benefit.content.html_safe
