%section.content.interior
  .row.interior-title
    .medium-12.columns.text-center
      %h2= benefit.title
  .row.interior-content
    - if benefit.sections.any?
      - @sections = benefit.sections
      = render "sections/#{@template}/sections", sections: @sections
