- if benefits.any?
  - benefits.each do |benefit|
    %section.content.interior
      .row.interior-title
        .medium-12.columns.text-center
          %h2= benefit.title

      .row
        - if benefit.sections.any?
          - benefit.sections.each do |section|
            .medium-6.columns
              %h2= section.title
              = section.content.html_safe

- content_for :interior_header do
  %section.container{:role => "document"}
    .row
      %section#home-hero.interior
        .row
          .large-12.text-center
            %h2.white Insurance
