%section.content.home-sections
  .home-item-1
    .row
      .large-12.columns.text-center
        .large-8.large-offset-2
          %h2 The main heading for the section goes here.dfsdfdsfdf
        %h3.home Subheadline for the sections look like this.
        .button Learn about rewards
  .home-item-2
    .row
      .large-12.columns.text-center
        .large-8.large-offset-2
          %h2 The main heading for the section goes here.
        %h3.home Subheadline for the sections look like this.
        .button Learn about rewards
  .home-item-3
    .row
      .large-12.columns.text-center
        .large-8.large-offset-2
          %h2 The main heading for the section goes here.
        %h3.home Subheadline for the sections look like this.
        .button Learn about rewards
  .home-item-4
    .row
      .large-12.columns.text-center
        .large-8.large-offset-2
          %h2 The main heading for the section goes here.
        %h3.home Subheadline for the sections look like this.
        .button Learn about rewards

- content_for :interior_header do
  %section.container{:role => "document"}
    .row
      %section#home-hero.home
        .row
          .large-7.columns
            .large-9.hide-for-medium-down
              %h2 Sample Text Goes Here
            .show-for-medium-down.center
              %h2 Sample Text Goes Here
