.home_section
  margin-bottom: 2%
  .inner
    position: relative
    overflow: hidden
    background: #ccc
    height: 275px
    padding: 2%
    line-height: 300px
    color: #000
    font-family: $proxima
    font-weight: 300
    font-size: 1.5rem
