%section.container{role: "document"}
  .row
    %section#home-hero
      .row
        .medium-7.columns.right
          %h2 Save Money, Great Value, Peace of Mind
        %aside.medium-4.columns.medium-offset-1.home-login-form.left
          .row
            .inner
              %header.small-10.columns.small-offset-1 Access Benefits
              #errorMSG
              %form{action: "#{root_url}", method: "get"}
                .small-4.columns.no-padding
                  %label.right.inline{for: "site_code"} Member ID
                .small-6.columns.no-padding
                  %input#member_id{name: "site_code", placeholder: "", type: "text"}
                .clearfix
                .small-10.columns.small-centered
                  %input#home-submit{name: "home-submit", type: "submit", value: "Send"}
