- content_for :home_hero do
  %section.container{role: "document"}
    .row
      %section#home-hero
        .row
          .large-7.columns.right
            .fifty-percent.show-for-large-up
              %h2 Save Money, Great Value, Peace of Mind
            .show-for-medium-down.center
              %h2 Save Money, Great Value, Peace of Mind
          %aside.large-4.large-offset-1.home-login-form.left
            .inner
              %header Access Benefits
              #errorMSG
              = render 'shared/login_form'
