.mobile-announcement-mobile.hide-for-large-up
  %a.droid-dl{href: "https://play.google.com/store/apps/details?id=air.sisk", target: "_blank"}
    = image_tag 'google-play-mobile.png'
  -# %a.apple-dl{href: "https://itunes.apple.com/us/app/member-benefits-sisk/id915619672?mt=8&uo=4", target: "_blank"}
  -#   = image_tag 'itunes-mobile.png'
