= render 'shared/home_hero'
%section#savings-section
  .row
    .medium-12.text-center.home-section.travel-section
      .section-bg
        .outer
          .inner
            %h2 Travel, Shopping  Entertainment
            %h4 Savings Made Easy
            .hs-button-wrap
              %a.button.button-custom{rel: "tooltip", title: "Saving at your favorite restaurants and retailers is as easy as printing or showing coupons on your phone. Save on the brands and products you buy the most. Get great deals and coupons on everything from retail to travel."} Learn About Rewards
%section#health-section
  .row
    .medium-12.text-center.home-section.health-section
      .section-bg
        .outer
          .inner
            %h2 Health
            %h4 Medicine Made Affordable
            %a.button.button-custom{rel: "tooltip", title: "It’s important to get the best for your health. Save on most prescriptions when you show your Member Benefits ID card at major pharmacies. Your benefits may also include eyewear and eye care savings with our Coast to Coast Vision plan."} Learn About Health
%section#insurance-section
  .row
    .medium-12.text-center.home-section.insurance-section
      .section-bg
        .outer
          .inner
            %h2 Insurance
            %h4 Step Towards Savings
            %a.button.button-custom{rel: "tooltip", title: "Our 24 Hour Accidental Death and Dismemberment coverage is one of the most comprehensive you will find anywhere. In the event of an accident that results in any loss, we will provide payment."} Learn About Insurance
%section#security-section
  .row
    .medium-12.text-center.home-section.security-section
      .section-bg
        .outer
          .inner
            %h2 Security
            %h4 Protecting Who You Are
            %a.button.button-custom{rel: "tooltip", title: "Identity Theft is too common to ignore. We offer a plan that will look out for you and make sure you can enjoy important moments in life. Our plan is not only good for you but everyone in your household to age 25."} Learn About Security
