%section.home-login
  .row
    .medium-5.columns
      =render 'shared/login_form'
    .medium-7.columns
      %h2.teal.text-center Discover Benefits that Pay More
      %p We make it easy to get great savings on the things that matter most to you. Discover simple ways to save on travel, health, identity protection, insurance and more. Register now to see how you can save.

%section.content
  .row
    .medium-3.columns
      %h2 Travel, Shopping  Entertainment
      %h4 Savings Made Easy
      .slug-text
        %p Saving at your favorite restaurants and retailers is as easy as printing or showing coupons on your phone. Save on the brands and products you buy the most. Get great deals and coupons on everything from retail to travel.
    .medium-3.columns
      %h2 Health
      %h4 Medicine Made Affordable
      .slug-text
        %p It’s important to get the best for your health. Save on most prescriptions when you show your Member Benefits ID card at major pharmacies. Your benefits may also include eyewear and eye care savings with our Coast to Coast Vision plan.

    .medium-3.columns
      %h2 Insurance
      %h4 Step Towards Savings
      .slug-text
        %p Our 24 Hour Accidental Death and Dismemberment coverage is one of the most comprehensive you will find anywhere. In the event of most accidents that result in an accidental death or dismemberment, we will provide payment through the insurance company in use at the time.

    .medium-3.columns
      %h2 Security
      %h4 Protecting Who You Are
      .slug-text
        %p Identity Theft is too common to ignore. We offer a plan that will look out for you and make sure you can enjoy important moments in life. Our plan is not only good for you but everyone in your household to age 25.

- content_for :home_header do
  %section.hero-container.container{role: "document"}
    .row
      %section#home-hero
        .row
          .large-10.columns.large-offset-1.text-center
            %h2 Save Money, Great Value, Peace of Mind
