%section.content.interior
  .row
    .medium-10.columns.medium-offset-1
      %p The Sisk group of companies strongly believes in the principle of privacy of information we collect about individuals.  We want you to understand how and why we use and disclose the collected information.  Following are the details of our practices and our limited disclosure of procedures for protecting the security of nonpublic personal information that we collect or have collected about individuals.  The privacy statement applies only to information provided directly to Sisk.  Various companies supply services to Sisk as member benefits.  The privacy policies of those companies should be evaluated by you before providing the personal information those companies require of you in order to perform their services.
      %h4 INFORMATION WE COLLECT
      %p The information we collect will vary depending on the type of service or product individuals may seek or purchase and could include:
      %ul
        %li Information we receive from individuals such as their name, email address, phone numbers and name of financial institution or association.
      %h4 INFORMATION WE DISCLOSE
      %p We do not disclose any personal information to anyone except as is necessary in order to provide our products or services to a person, or otherwise as we are required or permitted by law.
      %h4 CONFIDENTIALITY AND SECURITY
      %p We restrict access to personal information to our employees, employees of our affiliates, or others who need to know the information to service the account properly or in the course of conducting our normal business operations.  We maintain physical, procedural, and electronic safeguards to protect personal information.
      %h4 HOW TO CONTACT US
      %p If you need to learn more about our privacy protection procedures or have any questions, please contact us by email at info@siskcompany.com or by writing us at The Sisk Company Inc., 4055 International Plaza, Suite 440, Fort Worth, Texas 76109

- content_for :interior_header do
  %section.interior-title
    %h1 Privacy Policy
