= content_tag_for(:li, section) do
  .inner
    .flip
      .card
        .face.front
          .inner
            .reward-title= section.title
        .face.back
          .inner
            .reward-title= section.content.html_safe
