%section.container{role: "document"}
  .row
    %section#home-hero
      .row
        .medium-7.columns.right
          %h2 Save Money, Great Value, Peace of Mind
        %aside.medium-4.columns.medium-offset-1.home-login-form.left
          .row
            .inner
              %header.small-10.columns.small-offset-1 Access Benefits
              #errorMSG
              .clearfix
              = render 'shared/login_form'
