.benefits
  background: transparent
  padding: 10px 0

.benefit-link-wrap
  position: absolute
  z-index: 5
  bottom: 5px
  height: 70px
  overflow: hidden
  width: 100%


.benefit-link
  text-align: center
  font-size: .5rem
  width: 100%
  clear: both
  color: #fff!important

.benefits-heading
  background: $slate
  color: #fff
  font-family: $proxima
  position: relative
  font-size: 0.9rem
  text-align: center
  height: 100px
  line-height: 100px
  text-transform: uppercase
  margin-bottom: 2%
  text-align: center

.benefit-inner
  position: relative
  text-align: center
  width: 100%
  height: 100%

.benefit, .section
  margin-bottom: 2%
  padding: 2% 3%
  .inner
    background: $blue
    position: relative
    overflow: hidden
    height: 300px
    font-family: $proxima
    font-size: 1.5rem
    p, ul, h3
      line-height: 1.2!important
    .front
      text-align: center
      line-height: 300px
      font-weight: 300
      color: #fff
    .back
      color: #000

.benefit-flipped
  .inner
    background: #ccc

.flip
  -webkit-perspective: 800
  width: 100%
  height: 100%
  position: relative

.flip .card.flipped
  -webkit-transform: rotatex(-180deg)

.flip .card
  width: 100%
  height: 100%
  -webkit-transform-style: preserve-3d
  -webkit-transition: 0.5s

.flip .card .face
  width: 100%
  height: 100%
  position: absolute
  -webkit-backface-visibility: hidden
  z-index: 2

.flip .card .front
  position: absolute
  z-index: 1
  cursor: pointer

.flip .card .back
  -webkit-transform: rotatex(-180deg)
  cursor: pointer

.card .inner
  width: 90%
  position: relative
  overflow: hidden
  padding: 2% 0
  margin: 0 auto
