.benefit-item
    height: 280px
    overflow: hidden
    position: relative
    header
        height: 70px
        background: $teal
        padding: 0 2%
        margin-bottom: 2%
        h3
            color: #fff
            font-family: $proxima
            text-transform: uppercase
            line-height: 70px!important
            font-size: 2rem
    footer
        background-image: image-url('benefit-gradient.png')
        background-repeat: repeat-x
        position: absolute
        bottom: 0
        z-index: 2
        width: 100%

.benefit
    h4
        color: $teal
        font-size: 1.6rem
        padding-top: 0!important
