.benefits
  background: transparent
  padding: 10px 0

.benefit-link-wrap
  position: absolute
  z-index: 5
  bottom: 5px
  height: 70px
  overflow: hidden
  width: 100%

.benefit-links-ul
  position: absolute
  z-index: 5
  bottom: -15px
  width: 100%
  overflow: hidden
  display: block
  list-style: none!important
  padding: 0!important
  li
    position: relative
    float: left
    display: inline-block
    overflow: hidden
    width: 33%
    a
      color: #fff
      font-size: 0.8rem

.savings-link-wrap
  margin: 0 auto
  position: relative
  text-align: center

.benefit-link
  text-align: center
  font-size: .8rem
  width: 100%
  clear: both
  color: #fff!important

.benefits-heading
  background: $slate
  color: #fff
  font-family: $proxima
  position: relative
  font-size: 0.9rem
  text-align: center
  height: 100px
  line-height: 100px
  text-transform: uppercase
  margin-bottom: 2%
  text-align: center

.benefit-inner
  position: relative
  text-align: center
  width: 100%
  height: 100%

.benefit, .section
  margin-bottom: 2%
  padding: 2% 3%
  .inner
    background: $blue
    position: relative
    overflow: hidden
    height: 300px
    font-family: $proxima
    font-size: 1.5rem
    p, ul, h3
      line-height: 1.2!important
    .front
      text-align: center
      line-height: 300px
      font-weight: 300
      color: #fff
    .back
      color: #000

.benefit-flipped
  .inner
    background: #ccc

.card .inner
  width: 90%
  position: relative
  overflow: hidden
  padding: 2% 0
  margin: 0 auto
