.insurance-body .benefit .inner, .insurance-body .section .inner
  background: $insurance-color!important

.health-body .benefit .inner, .health-body .section .inner
  background: $health-color!important

.security-body .benefit .inner, .security-body .section .inner
  background: $security-color!important

.savings-body .benefit .inner, .savings-body .section .inner
  background: $savings-color!important

