.benefit, .section
  margin-bottom: 2%
  padding: 2% 3%
  cursor: pointer
  .inner
    background: $blue
    position: relative
    overflow: hidden
    height: 425px
    font-family: $proxima
    font-size: 1.5rem
    p, ul, h3
      line-height: 1.2!important
      font-size: 0.8rem!important
    .flip-front
      text-align: center
      line-height: 425px
      font-weight: 300
      color: #fff
    .flip-back
      color: #000
      .inner
        width: 96%
        margin: 2% auto

.flipped
  .inner
    background: #ccc
