.sitemap
  list-style: none
  display: block
  position: relative
  overflow: hidden
  margin: 0
  padding: 0
  li
    display: block
    position: relative
    width: 100%
    margin: 2px 0
    font-family: $proxima
    a
      text-transform: uppercase

.main-footer
  font-family: $proxima
  font-size: 1.125rem
  background-color: $grey
  padding-top: 45px
  color: #fff
  .widget
    h3
      font-size: 1.5rem
      font-weight: 400
      text-transform: uppercase
    p
      font-family: $proxima
      font-size: 1rem
      font-weight: 100
    a
      color: #fff!important
      &:hover
        color: $teal!important

.footer-text
  font-size: 14px
  font-weight: 400

.mb10
  margin-bottom: 5%
