.login-form-wrap
    background: $teal
    padding: 5%
    h4
        margin-bottom: 5%

.login-label
    color: #fff!important
    font-family: $proxima
    font-size: 1rem
    letter-spacing: 0.08rem
    font-weight: bold
    text-transform: uppercase

.forgot-password
    color: #fff

input[type=text], input[type=password], input[type=email]
    border: 1px solid #fff
    color: #fff!important
    background: transparent!important

#errors
    color: #900

// .login-button
//     @include button
//     background-color: $blue
//     width: 100%
//     border-radius: 3px
//     font-family: $proxima
//     &:hover
//         background-color: #88b0b5

.login-button
    @include button
    background-color: $blue
    width: 100%
    border-radius: 3px!important
    font-family: $proxima
    text-transform: uppercase
    font-weight: bold
    &:hover
        background-color: #fff
        color: $teal

.login-button-white
    @include button
    background-color: $blue
    border-radius: 3px!important
    font-family: $proxima
    text-transform: uppercase
    &:hover
        background-color: #88b0b5
        color: #fff

.account-button
    +button($padding: $button-tny)
    background-color: $blue
    border-radius: 3px!important
    font-family: $proxima
    margin-top: 20px
    margin-right: 2%
    text-transform: uppercase
    &:hover
        background-color: #88b0b5

#error_explanation
    width: 50%
    margin: 0 auto
    text-align: center
    h2
        font-size: 1rem
        color: $teal
    ul
        list-style: none
        li
            color: #900

.remember-box
    margin-right: 10px

.remember-label
    color: #fff
    padding-left: 10px
