.login-form-wrap
    background: $teal
    padding: 5%
    h4
        margin-bottom: 5%

.login-label
    color: #fff!important
    font-family: $proxima
    font-size: 1rem
    letter-spacing: 0.08rem
    font-weight: bold
    text-transform: uppercase

.forgot-password
    color: #fff

input[type=text], input[type=password], input[type=email]
    border: 1px solid #fff
    color: #fff!important
    background: transparent!important

// .login-button
//     @include button
//     background-color: $blue
//     width: 100%
//     border-radius: 3px
//     font-family: $proxima
//     &:hover
//         background-color: #88b0b5

.login-button
    @include button
    background-color: $blue
    width: 100%
    border-radius: 3px
    font-family: $proxima
    text-transform: uppercase
    &:hover
        background-color: #fff
        color: $teal

.login-button-white
    @include button
    background-color: $blue
    border-radius: 3px
    font-family: $proxima
    text-transform: uppercase
    &:hover
        background-color: #88b0b5
        color: #fff

.account-button
    +button($padding: $button-tny)
    background-color: $blue
    border-radius: 3px
    font-family: $proxima
    margin-top: 20px
    margin-right: 2%
    text-transform: uppercase
    &:hover
        background-color: #88b0b5
