@media only screen and (max-width: 40em)
  .off-canvas-wrap
    background-color: #333
  label.inline
    margin: 0!important
  .login-button
    font-size: .8rem
  input[type=text], input[type=email]
    margin: 0!important
  .login-form-wrap h4
    margin-bottom: 0!important
  .benefit-item
    height: auto!important
  .benefit-item header
    height: auto!important
    padding: 3% 2%!important
    h3
      line-height: 1!important
      font-size: 1.2rem
  .benefit
    font-size: 0.8rem
    h4
      font-size: 0.9rem!important
  .interior-title
    padding-top: 40px!important
    h1
      font-size: 2.6rem!important
  .benefit-item-content
    display: none
    &.showing
      display: block
  .header-wrapper
    height: 200px
  .home .interior-title
    padding-top: 30px!important
    h1
      font-size: 40px!important
  #home-hero
    padding-top: 0!important
  .home-hero
    font-size: 2.2rem!important



@media only screen and (min-width: 40.063em) and (max-width: 64em)
  label.inline
    margin: 0!important
  .login-button
    font-size: .8rem
  input[type=text], input[type=email]
    margin: 0!important
  .login-form-wrap h4
    margin-bottom: 0!important
  .benefit-item header
    height: auto!important
    padding: 3% 2%!important
    h3
      line-height: 1!important
      font-size: 1.2rem
  .benefit
    font-size: 0.8rem
    h4
      font-size: 0.9rem!important

// Large
@media only screen and (min-width: 64.063em)
  .header
    height: 70px

