@media only screen and (max-width: 40em)
  .off-canvas-wrap
    background-color: #333
  label.inline
    margin: 0!important
  .login-button
    font-size: .8rem
  input[type=text], input[type=email]
    margin: 0!important
  .login-form-wrap h4
    margin-bottom: 0!important

@media only screen and (min-width: 40.063em) and (max-width: 64em)
  label.inline
    margin: 0!important
  .login-button
    font-size: .8rem
  input[type=text], input[type=email]
    margin: 0!important
  .login-form-wrap h4
    margin-bottom: 0!important

// Large
@media only screen and (min-width: 64.063em)
  .header
    height: 70px

