@media only screen and (max-width: 40em)
  .interior-title
    h1
      font-size: 2.5rem
      line-height: 1
  #home-hero
    // height: 200px!important
    padding-top: 25px!important
    h2
      font-size: 2rem!important
  // .header-wrapper
  //   height: 190px
  //   h1
  //     line-height: 1

@media only screen and (min-width: 40.063em) and (max-width: 64em)
  #home-hero
    height: 200px!important
    padding-top: 20px!important
    h2
    font-size: 2rem
  // .header-wrapper
  //   height: 190px
  //   h1
  //     line-height: 1
  .memberid-help
    right: 0

// Large
@media only screen and (min-width: 64.063em)
  .header-wrapper
    height: 360px
    // height: 190px
  body.home, body.devisesessions
    .header-wrapper
      height: 670px
  .memberid-help
    left: 21%
  .top-bar-container
    height: 200px
    background-color: rgba(0, 0, 0, 0.4)
  .top-bar
    background-color: transparent!important
  #home-hero
    height: 470px
    padding-top: 45px
  .home-section
    height: 785px
    position: relative
    .outer
      position: absolute
      top: 50%
      left: 50%
      margin: -115px auto 0 -45%
      width: 90%
      height: 45%
      overflow: hidden
      font-family: $proxima
      h2
        font-size: 64px
        font-weight: 400
        text-transform: uppercase
      h4
        font-size: 2em
        font-weight: 100
        margin-top: -2%
        margin: -2% 0 1% 0
      .slug-text
        width: 60%
        margin: 0 auto
        p
          font-family: $proxima
          font-size: 24px
  .benefits-heading
    font-size: 2.25rem
    height: 100px
    line-height: 100px
  .interior-title
    height: 150px
    h1
      line-height: 150px
