#home-hero
  padding-top: 45px
  h2
    color: #fff
    // font-size: 72px!important;
    font-family: $proxima
    margin-top: 0 !important

section.content
  background: #fff

.off-canvas-wrap
  background-color: #333


.hero-container
  height: 350px

.interior-title
  // height: 150px
  h1
    text-align: center
    // line-height: 150px
    font-family: $proxima
    color: #fff
    text-transform: uppercase

footer
  font-family: $proxima
  font-size: 1.125rem
  .widget
    h3
      font-size: 1.5rem
      font-weight: 400
      text-transform: uppercase
    p
      font-family: $proxima
      font-size: 1rem
      font-weight: 100

.footer-text
  font-size: 14px
  font-weight: 400

.my-tooltip
  text-align: center
  color: #fff
  background: #111
  position: absolute
  z-index: 100
  padding: 15px

.my-tooltip:after
  width: 0
  height: 0
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-top: 10px solid #111
  content: ''
  position: absolute
  left: 50%
  bottom: -10px
  margin-left: -10px

.my-tooltip.top:after
  border-top-color: transparent
  border-bottom: 10px solid #111
  top: -20px
  bottom: auto

.my-tooltip.left:after
  left: 10px
  margin: 0

.my-tooltip.right:after
  right: 10px
  left: auto
  margin: 0



