%section.content.interior
  .row
    .medium-10.columns.medium-offset-1.content-box.text-center= @custom_site.content_section.savings_content.html_safe
  .row.interior-title
    .medium-12.columns.text-center
      %h2 Savings Made Easy
      - if user_signed_in?
        .benefit-link-wrap
          %a.benefit-link{href: "http://www.saversguide.com/custom/savingsmadeeasy?uuid=#{current_user.uuid}", target: '_blank'} Please click here to access your benefits.
  .row
    - if sections.any?
      - sections.each do |section|
        .medium-6.columns
          %h2= section.title
          = section.content.html_safe

- content_for :interior_header do
  %section.container{:role => "document"}
    .row
      %section#home-hero.interior
        .row
          .large-12.text-center
            %h2.white Savings Made Easy

