.row
  max-width: 90.625rem !important

section.content
  padding: 2% 0

p.small
  font-size: 0.8rem!important
  padding: 0 8px!important

.link-bottom
  position: absolute
  bottom: 0
  p
    text-align: center

.center
  display: block
  margin: 0 auto

.home-section
  .outer
    height: 100%
    .inner
      display: table
      vertical-align: middle

.outer
  height: 100%
  .inner
    display: table
    vertical-align: middle
    text-align: center

.divider
  width: 100%
  clear: both
  height: 1px
  background: #444
  margin: 10px 0

.mobile-announcement
  width: 100px
  height: 100px
  position: relative
  float: left
