- @benefits.each do |benefit|
  %li.benefit
    .inner
      .flip
        .card
          .face.front
            .inner
              .reward-title= benefit.title
          .face.back
            .inner
              = benefit.content
