- if @feed_entries.any?
  - @feed_entries.each do |entry|
    = render :partial => 'sites/entry', :locals => { :entry => entry }
  = render 'pagination'
- else
  %p Sorry, no results for that query...
