.printable
  - if coupon.links.any?
    #coupon-image.hide
      %img.center{src: "#{coupon.links.first}"}
  .divider
  .clearfix
  .print-coupon-content
    %h3= coupon.title
    %p= coupon.content
    %p
      %strong
        %em= coupon.summary
  .clearfix
.wrapper
  %h5 Print Coupon Now?
  %p Remember, you must use your coupon within 14 DAYS or by the valid through date printed on the coupon.
  %p Are you sure you want to PRINT this coupon now?
  %a.savings-button.coupon-print-btn Print


