.printable
  - if coupon.links.any?
    #coupon-image
      %img.center{src: "#{coupon.links.first}"}
  .divider
  .clearfix
  .print-coupon-content
    %h3= coupon.title
    %p= coupon.content
    %p
      %strong
        %em= coupon.summary
  .clearfix
  %a.savings-button.coupon-print-btn.centered Print
