.benefits-heading.medium-12 Prescriptions
%ul.large-block-grid-4.small-block-grid-1
  = render @prescriptions if @prescriptions.any?
.benefits-heading.medium-12 Vision
%ul.large-block-grid-4.small-block-grid-1
  = render @vision if @vision.any?
