%ul.large-block-grid-4.small-block-grid-1
  - @benefits.each do |benefit|
    %li.benefit
      .inner
        .flip
          .card
            .face.front
              .benefit-title= benefit.title
            .face.back
              .benefit-title= benefit.content.html_safe
