%section.content.interior
  .row
    .medium-10.columns.medium-offset-1
      %article.benefit-item
        %header
          .inner
            .outer
              .inner
                %h3 Savings Made Easy
        .row
          .medium-8.columns
            - if @sections.any?
              = render @sections
          .medium-4.columns
            %ul.benefit-links
              %li
                %a{href: "http://www.saversguide.com/custom/savingsmadeeasy?uuid=#{current_user.uuid}", target: '_blank'} Please click here to access your benefits.
        %footer
          .row
            .medium-2.columns.right
              %button.account-button.hide-for-small Show More

- content_for :interior_header do
  .row
    .interior-title
      %h1 Savings

%img.pixel-image{src: "http://www.saversguide.com/custom/savingsmadeeasy/affiliate.gif?uuid=#{current_user.uuid}", width: "1", height: "1", alt: "Savings made Easy"}



