.benefits-heading.medium-12= @page_title
.clearfix
.medium-10.search-fields.medium-offset-1
  %p Please click the link below to access your benefit.
  %a.button.savers-guide-button{href: "http://www.saversguide.com/custom/savingsmadeeasy?uuid=#{current_user.uuid}", target: '_blank'} Savings Made Easy
%ul#api-results-wrap.large-block-grid-2.small-block-grid-1
  - if @sections.any?
    = render @sections
%img.pixel-image{src: "http://www.saversguide.com/custom/savingsmadeeasy/affiliate.gif?uuid=#{current_user.uuid}", width: "1", height: "1", alt: "Savings made Easy"}
