.benefits-heading.medium-12.columns Identity Theft 911
%ul.large-block-grid-3.small-block-grid-1
  = render @identitysteps_benefits
.benefits-heading.medium-12.columns Life Steps
%ul.large-block-grid-3.small-block-grid-1
  = render @lifesteps_benefits
.benefits-heading.medium-12.columns Lifelock
%ul.large-block-grid-3.small-block-grid-1
  = render @lifelock_benefits
