%section.content
  .row
    .medium-12.columns
      %h3.teal.uppercase Welcome to Member Benefits
      %p A single MEMBERSHIP CARD gives you access to these valuable services.
      %p Member Benefits are especially valuable for people who are concerned about Identity Theft or are interested in Supplemental Accidental Death Insurance, or those who Travel. Why, because it automatically includes, with no further action on your part
      %ul
        %li An identity theft suport service called Identity Theft 911/LifeStages
        %li Accidental Death and Dismemberment Insurance
        %li Common Carrier Travel Accident Insurance could also be included.
        %li The insurance also includes several travel assistance benefits related to emergencies when traveling or for important information. A valuable identity theft service is also available in the package that you may have heard of called LifeLock. You can receive a free membership and enrollment is easy.
      %p
      %p Many other, ready to use and easy to use, money saving features are included with Member Benefits including eye care and eyewear discounts for the whole household, as well as prescription discounts on most prescriptions at almost every pharmacy where you might shop.
      %p This package of services gives you immediate access to a website that allows you to save money in numerous ways such as
      %ul
        %li Movie ticket discounts
        %li Hotel/motel, rental car, and other travel discounts are included in the program
        %li You can even save money by ordering grocery coupons
      %p If you purchased everything in this package, through various retail offers, you would pay hundreds of dollars each year. These fees are waived with Member Benefits, and considering the savings you can realize by using even one or two of the services only a few times each year, it&#8217;s easy to see how it more than offsets the fee that we simply debit from your account each month. We feel the Identity Theft 911 service, the AD&amp;D Insurance and the Travel Assistance services alone are worth that amount, and that&#8217;s why so many people choose Member Benefits.

- content_for :interior_header do
  .row
    .interior-title
      %h1 Member Benefits


