.row
  .large-8.columns.large-offset-2
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert-box", "data-alert" => ""}
          = content_tag :div, msg
          %a.close{:href => "#"} &times;
