- if @site
  %li.menu-item
    = link_to "Savings", savings_site_path(@site)
  - if @site.health_benefits.any?
    %li.menu-item
      = link_to "Health", health_site_path(@site)
  - if @site.insurance_benefits.any?
    %li.menu-item
      = link_to "Insurance", insurance_site_path(@site)
  - if @site.health_benefits.any?
    %li.menu-item
      = link_to "Security", security_site_path(@site)
- else
  %li.menu-item
    %a{href: "/about"} About Us
  %li.menu-item.disabled
    .fakelink Savings
  %li.menu-item.disabled
    .fakelink Health
  %li.menu-item.disabled
    .fakelink Insurance
  %li.menu-item.disabled
    .fakelink Security
